# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/

# Environment
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# Editor
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Prisma local db
apps/api/prisma/dev.db*

# Hardhat
packages/contracts/artifacts/
packages/contracts/cache/
packages/contracts/typechain-types/